@import "compass/css3";

@mixin breakpoint($point) {
  @if $point == reader {
    @media (min-width: 384px) { @content; }
  }
  @else if $point == tablet {
    @media (min-width: 768px) { @content; }
  }
  @else if $point == desktop {
    @media (min-width: 992px)  { @content; }
  }
  @else if $point == large {
    @media (min-width: 1200px)  { @content; }
  }
}

$text_color: #464646;
$link_color: #6f6cc4;
$link_hover_color: #bfbdff;

* {
	margin: 0;
	padding: 0;
}
	
body {
	background: #fff;
	color: $text_color;
	font-family: "kulturista-web", sans-serif;
	font-weight: 300;
	font-size: 14px;
	line-height: 1.8em;
	
	> p,
	> br {
		display: none;
	}
}

a {
	color: $link-color;
	
	@include single-transition( color, 1s, 0.5s );
	
	&:hover {
		color: $link-hover-color;
		text-decoration: none;
	}
}

h1,
h2,
h4,
h5,
h6 {
	color: #000;
	font-family: "futura-pt", futura, trebuchet, sans-serif;
	font-weight: 700;
	
	a {
		color: $text-color;
		
		&:hover {
			color: $link-color;
		}
	}
}

h1 {
	border-bottom: 1px solid $text-color;
	font-size: 2.4em;
	margin-bottom: 30px;
	padding-bottom: 0.3em;
	text-transform: uppercase;
}
h2 {
	font-size: 2.4em;
	margin-bottom: 15px;
}
h3 {
	font-family: "kulturista-web", sans-serif;
	font-size: 1.3em;
	font-weight: 700;
	margin-bottom: 1em;
}
h4 {
	border-bottom: 1px solid $text-color;
	padding-bottom: 0.3em;
	text-transform: uppercase;
}

footer {
	background: $text-color;
	color: #fff;
	font-family: "futura-pt", futura, trebuchet, sans-serif;
	padding: 20px 0;
	
	p:last-child {
		margin-bottom: 0;
	}
}

p {
	margin-bottom: 0.85em;
}

ul,
ol {
	margin: 0 1.5em 10px;
	padding: 0;
}

p,
ul,
ol,
h1,
h2,
h3,
h4,
h5,
h6 {
	&:first-child {
		margin-top: 0;
	}
	&:last-child {
		margin-bottom: 0;
	}
}

section {
	$section-padding: 68px;

	padding: $section-padding 0;
	
	&:first-child,
	&.banner {
		padding-top: 0;
	}
	&:last-child,
	&.banner {
		padding-bottom: 0;
	}
	
	&.alt {
		background-color: #f3f3f3;
	}
	
	@include breakpoint(tablet) {
		&.alt-krysora {
			padding: 0;
		
			.container {
				background-image: url('../images/krysora-bg-white.png');
				background-repeat: no-repeat;
				background-position: bottom right;
				background-size: 377px 431px;
				padding: $section-padding 0;
			}
		}
	}
	
	&.teasers {
		article {
			margin-bottom: 30px;
			
			@include breakpoint(tablet) {
				margin-bottom: 0;
			}
		
			img {
				background-color: #f0f0f0;
				background-image: url('../images/krysora-noimage.png');
				background-position: center center;
				background-size: cover;
				height: auto;
				width: 100%;
			}
		}
		
		@include breakpoint(tablet) {			
			.row {
				margin-bottom: 1.7em;
				
				.row:last-child {
					margin-bottom: 0;
				}
			}
		}
	}
	
	&.top {
		padding-bottom: 15px;
		
		@include breakpoint(tablet) {
			padding-bottom: 30px;
		}
		
		.navbar {
			background: none;
			border: none;
			margin-bottom: 0;
		}
	
		.navbar-brand {
			padding-bottom: 0;
			
			img {
				max-width: 196px;
				height: auto;
			}
		}
		
		.navbar-collapse {
			border-top: none;
		}
		
		.navbar-toggle {
			margin-top: 28px;
			
			&:hover,
			&:focus {
				background-color: transparent;
				border-color: #aaa;
				
				.icon-bar {
					background-color: #aaa;
				}
			}
		}
		
		.nav {
		
			@include breakpoint(tablet) {
				margin-top: 25px;
			}
			
			li {
			
				a {
					color: $text_color;
					font-family: "futura-pt", futura, trebuchet, sans-serif;
					font-size: 1.12em;
					font-weight: 700;
					
					&:hover {
						background: none;
						color: $link_color;
					}
				}
			
				&.active a {
					color: $text_color;
					background: none;
				}
				
			}
			
		}
	}
}

.col-md-1,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-10,
.col-md-11,
.col-md-12 {
	margin-bottom: 1.7em;

	&:last-child {
		margin-bottom: 0;
	}
	
	@include breakpoint(tablet) {
		margin-bottom: 0;
	}
}

.carousel {
	.carousel-caption {
		display: none;
	}
	.carousel-control {
		display: none;
	}
}
	
.col-md-4 img.aligncenter {
	display: block;
	margin: 1em auto;
	max-width: 165px;
	height: auto;
}

.row {
	margin-bottom: 1.7em;
	
	&:last-child {
		margin-bottom: 0;
	}
	
	@include breakpoint(tablet) {
		margin-bottom: 0;
	}
	
	h2 {
		text-align: center;
	}
}